<h1>Productos en tiempo real</h1>
<ul id="product-list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on("updateProducts", (products) => {
        const list = document.getElementById("product-list");
        list.innerHTML = products.map(p => `<li>${p.title} - $${p.price}</li>`).join("");
    });
</script>
